$layout1: cyan;
$layout2: purple;
$layout3: green;

$bg1: rgb(15, 14, 14);
$bg2: rgb(255, 255, 255);
$bg3: rgb(2, 17, 32);
$bg6: rgb(143, 201, 255);
$bg4: rgb(1, 13, 26);
$bg7: linear-gradient(to right,rgb(0, 0, 0),rgb(2, 17, 32),rgb(26, 81, 133));
$bg5: rgba(37, 2, 33, 0.897);


$textw: white;
$textb: black;


$btnr: red;
$btng: gray;
$btnw: white;
